# NPM
node_modules
npm-debug.log

# Tests
coverage
reports
screenshots

# Build output (maybe you want this maybe you don't)
dist

.idea
.DS_Store

# Selenium server, which you should download directly
selenium-server-standalone-*

# Testing stuff
errorShots/
.nyc_output/

# Logs
*.log

# Editor stuff
.tern-project

# React-Storybook
storybook

# Caching directories made during linting
.tmp/
