// THIS ISSUE BROUGHT UP ANOTHER ISSUE - we need to make sure that the clocks are consistent on both the Booking Form & Here//
.bookingItemLink{
  display: inline-block;
  text-decoration: none;
  color: #000;
  font-size: 16px;
}
.booking-item {
  border: 1px solid #d5d5d5;
  margin: 6px 12px;
  padding: 22px 20px;
}
