@import './mixins/flex';
@import './mixins/media';
@import 'variables';

.landing {
    background-color: white;
    color: black;

    @include page;

    flex-flow: column nowrap;
}

.landing-row {
    flex-direction: row;
}

.landing-row-padded {
    padding: 20px;
}

.big-button1 {
    user-select: none;
    background-color: $blue;
    border: none;
    border-radius:2px;
    color: white;
    cursor: pointer;
    font-size: 18px;

    line-height: normal;
    letter-spacing: -0.4px;
    padding: 20px 0;
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
    text-align: center;

    @include desktop {
        margin-left: 20%;
        width: 60%;
    }

    &:focus {
        outline: none;
    }
}

.big-button2 {
    user-select: none;
    background-color: $darkblue;
    border: none;
    border-radius:2px;
    color: white;
    cursor: pointer;
    font-size: 18px;
    line-height: 18px;
    padding: 20px 0;
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
    text-align: center;

    @include desktop {
        margin-left: 20%;
        width: 60%;
    }

    &:focus {
        outline: none;
    }
}
