@import './mixins/flex';
@import 'variables';

.login {
    background-color: white;
    color: black;

    @include page;

    flex-flow: column nowrap;
}

.top {
    height: 33%;
    background: $blue;
    color: white;
    display: flex;
    justify-content: center;

    h1 {
        text-align: center;
        font-size: 5em;
        align-self: flex-end;
        margin-bottom: 5px;
    }
}

.bottom {
    height: 67%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.big-button {
    user-select: none;
    background-color: #013f93;
    border: none;
    border-radius: 2px;
    color: white;
    cursor: pointer;
    font-size: 18px;
    line-height: 18px;
    padding: 20px 0;
    width: 90%;
    font-weight: 200;
}
