@import 'variables';


.container {
  display: flex;
  flex-direction: row;
  margin: 5px auto 40px;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.controls {
    flex: 0 1 50px;
    justify-content: center;
    font-size: 32px;
    text-align: center;
    a {
        text-decoration: none;
        color: $green;
    }
}

.week {
    width: 200px;
    flex: 0 0 auto;
    text-align: center;
    font-family: $base-font-family;
    font-weight: normal;

}
