$margin: 20px 10px 20px 0;

.route-link {
  padding-right: 10px;

  .button-style {
    display: inline-block;
    font-size: 1.1em;
    text-transform: uppercase;
    padding: 10px 15px;
    margin: $margin;
    color: #fff;
    background-color: #299baf;
    border: 0 none;
    border-radius: 3px;
    cursor: pointer;
    transition: all 150ms ease;
  }
  .button-style:hover, .button-style:focus {
    background-color: #111;
    text-decoration: none;
  }
}
