.button-add {
  padding: 0px 10px 0px 10px;
  width: 160px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $pink;
  color: $white;
  text-transform: uppercase;
  a {
  text-decoration: none;
  vertical-align:middle;
  width: 98px;
  height: 23px;
  font-family: FranchiseFree;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.96;
  letter-spacing: normal;
  text-align: center;
  color: $white;
  }
}
