$black: hsl(0, 0%, 0%);
$grey_3: hsl(0, 0%, 84%);
$grey_4: hsl(0, 0%, 93%);
$white: hsl(0, 0%, 100%);
$purple: hsl(270, 65%, 42%);
$pink: hsl(312, 100%, 50%);
$teal: hsl(164, 63%, 53%);
$grey_1: hsl(0, 0%, 19%);
$warm-grey: hsl(0, 0%, 51%);
