.chartHolder {
  margin-top: 50px;
}

.demandChart {
  height: 400px;
  width: 1140px;
}

.info-box {
  font-size: 13px;
  opacity: 0;
  position: absolute;
  right: 20px;
  transition: visibility 0s, opacity 0.1s linear;
  visibility: hidden;
  width: 200px;
}

.info-box .y1-label,
.info-box .y2-label {
  background: #333333;
  color: white;
  margin-right: 3px;
  padding: 3px;
}
