.footer {
  background: #444444;
  color: white;
  margin-bottom: 2rem;
  margin-top: 1rem;
  padding: 2rem;
  width: 100%;

  .app-version {
    color: #cccccc;
    float: right;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    margin-right: 1rem;
    transition: color 0.1s ease;
  }
}
