.login {
  position: fixed;
  top: 5px;
  right: 100px;

  .login-form {
    padding: 30px;
    background: #333;
    color: white;
    .buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .link {
    padding: 5px;
    &:hover {
      color: $brand-colour-red;
    }
  }

  .message {
    &.active {
      color: white;
      text-transform: uppercase;
      background: $danger-colour;
      padding: 5px;
    }
  }

  .user-name {
    display: inline-block;
    padding-right: 1rem;
    border-right: 3px solid $light-gray;
    margin-right: 1rem;
  }

}
