{
  "presets": ["es2015"],
  "plugins": [
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "formatters": "./formatters",
        "lib": "./lib",
        "processors": "./processors",
      }
    }]
  ]
}
