////
/// @group Components
////

/**
 * Add the correct background and color in IE 9-.
 */

mark {
  /// Background color for a `<mark>`
  $mark-background-color: #ff0 !default;
  /// Foreground color for a `<mark>`
  $mark-color: #000 !default;
  background-color: $mark-background-color;
  color: $mark-color;
}
