.input-field {
  width: 234.4px;
  height: 35px;
  background-color: $white;
}
.input-text {
  width: 51.3px;
  height: 25px;
  font-family: BrandonText;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $black;
}
.search-button{
  width: 100.6px;
  height: 35px;
  background-color: $teal;
}
.search-text{
  width: 51.3px;
  height: 24px;
  font-family: Oswald;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $white;
}
