$form-font-family: $base-font-family;
$form-line-height: $base-line-height;
$form-font-size: 100%;

$fieldset-border: 1px solid #c0c0c0;
$fieldset-margin: 0 2px;
$fieldset-padding: .35em .625em .75em;
