//buttons
@import 'global/colors';
@import 'global/typography';

.big-booking-btn {
    background-color: $blue;
    border: none; 
    border-radius: 2px;
    color: white;
    cursor: pointer;
    font-size: 18px;
    width: 60%;
    height: 100px;
    text-align: center;
    font-family: $base-font-family;
        margin-left: 20px;
    margin-top: 20px;
}

.big-viewbookings-btn {
    background-color: $darkblue;
    border: none;
    border-radius: 2px;
    color: white;
    cursor: pointer;
    font-size: 18px;
    width: 60%;
    height: 100px;
    text-align: center;
    font-family:$base-font-family;
    margin-left: 20px;
    margin-top: 20px;
    align-self:center;
}

.make-booking-btn {
    background-color: $blue;
    border-radius: 2px;
    border: none;
    color: #ffffff;
    cursor: pointer;
    font-size: 18px;
    line-height: 18px;
    margin-top: 20px;
    margin-left: 20px;
    padding: 20px 0px;
    width: 60%;
    font-family: $base-font-family;

}

.cancel-booking-btn {
    color: white;
    background-color: $red;
    border: none;
    font-size: 18px;
    cursor: pointer;
    border-radius: 2px;
    margin-top: 20px;
    margin-left: 20px;
    padding: 20px 0px;
    width: 60%;
    font-family: $base-font-family;

}
