$body-font-family-primary: 'Open Sans', sans-serif;
$body-font-family-secondary: 'Open Sans', sans-serif;
$logo-font-family: 'Open Sans', sans-serif;

$body-max-width: 75em;

$transition-delay: 0.5s;

$view-margin: 2rem 0;
$event-history-item-margin: 0 0 1rem 0;

/**
  Screen breakpoints
**/
$screen-xs-min: 30em;
$screen-sm-min: 48em;
$screen-md-min: 64em;
$screen-lg-min: 75em;

$fa-font-path: '../../fonts';
