/*
	Landscape by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
*/

/* Header */

	#header nav ul {
		text-align: center;
	}

		#header nav ul li {
			display: inline-block;
		}

/* Main */

	#main .reel:after {
		content: '';
		display: block;
		clear: both;
	}

	#main .slide {
		float: left;
	}

		#main .slide > .inner {
			padding-top: 8em;
		}

		#main .slide.left > .inner {
			margin-right: auto;
		}

		#main .slide.center > .inner {
			margin-left: auto;
			margin-right: auto;
		}

		#main .slide.right > .inner {
			margin-left: auto;
		}

	#main nav > * {
		display: inline-block;
	}