.yass {
  padding: 40px 0 0 62px;
}
.order-large {
  width: 333px;
  height: 73px;
  margin: 26px 0 0 21px;
  font-family: FranchiseFree;
  font-size: 78px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-transform: uppercase;
  text-align: center;
  color: $pink;
}
