$brand-colour-black: #1c1f22;
$brand-colour-yellow: #ff9800;
$brand-colour-white: #ffffff;
$brand-colour-blue: steelblue;
$brand-colour-red: #e84925;
$brand-colour-green: #bedb39;
$danger-colour: #d9534f;

$brand-primary-colour: $brand-colour-black;
$brand-secondary-colour: $brand-colour-blue;

$brand-header-colour: $brand-primary-colour;
$brand-header-border-colour: gray;

$brand-footer-colour: #333333;
$brand-footer-app-version-colour: #bbbbbb;

$brand-alert-colour: aqua;

$brand-text-label-colour: #aaaaaa;

$button-colour: #299baf;
$button-focus-colour: #0e6c7d;
$button-warning-colour: orange;
$button-info-colour: #5bc0de;
$button-success-colour: #5cb85c;
$button-danger-colour: $danger-colour;

$nav-list-item-primary-colour: #dcdcdc;
$nav-list-item-secondary-colour: $brand-primary-colour;
$nav-list-item-hover-colour: #ffffff;
$nav-list-item-active-colour: $brand-colour-yellow;
$nav-toggle-icon-colour: #ffffff;

$gray: #777777;
$light-gray: #eeeeee;
